.footer
{
  padding: 5px 20px;
  background-color: red;
  display: flex;
justify-content: center;
  position: fixed;
  bottom: 0;

}

/* fonte*/

.acolor
{
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

